<html>
<head>
<title>fragment_create_record.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); }
.s1 { color: rgb(0,0,128); font-weight: bold; }
.s2 { color: rgb(0,0,255); font-weight: bold; }
.s3 { color: rgb(0,128,0); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
fragment_create_record.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;</span><span class="s1">FrameLayout </span><span class="s2">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s2">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
    </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s2">tools:context=</span><span class="s3">&quot;com.example.vkpaul123.iamsqlitebro.CreateRecordFragment&quot;</span><span class="s0">&gt; 
 
    &lt;</span><span class="s1">LinearLayout</span><span class="s0"> 
        </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/linearLayout&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s2">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TextView</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView2&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:text=</span><span class="s3">&quot;Create Record&quot;</span><span class="s0"> 
            </span><span class="s2">android:textAppearance=</span><span class="s3">&quot;@style/TextAppearance.AppCompat.Display1&quot; </span><span class="s0">/&gt; 
 
        &lt;</span><span class="s1">EditText</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/editTextName&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s0"> 
            </span><span class="s2">android:hint=</span><span class="s3">&quot;Name&quot;</span><span class="s0"> 
            </span><span class="s2">android:inputType=</span><span class="s3">&quot;textPersonName&quot; </span><span class="s0">/&gt; 
 
        &lt;</span><span class="s1">EditText</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/editTextClass&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s0"> 
            </span><span class="s2">android:hint=</span><span class="s3">&quot;Class&quot;</span><span class="s0"> 
            </span><span class="s2">android:inputType=</span><span class="s3">&quot;textPersonName&quot; </span><span class="s0">/&gt; 
 
        &lt;</span><span class="s1">Button</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/buttonInsert&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:text=</span><span class="s3">&quot;Insert&quot; </span><span class="s0">/&gt; 
 
    &lt;/</span><span class="s1">LinearLayout</span><span class="s0">&gt; 
 
&lt;/</span><span class="s1">FrameLayout</span><span class="s0">&gt; 
</span></pre>
</body>
</html>