<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_main.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">android.support.constraint.ConstraintLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/ab&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;com.example.immanualtrinity.sharedpreferences.MainActivity&quot;</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
        </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">TextView</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;Shared Preferences&quot;</span><span class="s2"> 
            </span><span class="s1">android:textColor=</span><span class="s3">&quot;@android:color/black&quot;</span><span class="s2"> 
            </span><span class="s1">android:textSize=</span><span class="s3">&quot;30dp&quot;</span><span class="s2"> 
            </span><span class="s1">app:layout_constraintBottom_toBottomOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
            </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
            </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
            </span><span class="s1">app:layout_constraintTop_toTopOf=</span><span class="s3">&quot;parent&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">EditText</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/editText&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;350dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
            </span><span class="s1">android:inputType=</span><span class="s3">&quot;textPersonName&quot;</span><span class="s2"> 
            </span><span class="s1">android:hint=</span><span class="s3">&quot;Your Name&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">EditText</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/editText2&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;350dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
            </span><span class="s1">android:inputType=</span><span class="s3">&quot;number&quot;</span><span class="s2"> 
            </span><span class="s1">android:hint=</span><span class="s3">&quot;Your Mobile Number&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">EditText</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/editText3&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;350dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
            </span><span class="s1">android:inputType=</span><span class="s3">&quot;textPersonName&quot;</span><span class="s2"> 
            </span><span class="s1">android:hint=</span><span class="s3">&quot;Your Hometown&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">Button</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;350dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button&quot;</span><span class="s2"> 
            </span><span class="s1">android:onClick=</span><span class="s3">&quot;toSave&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;Save&quot;</span><span class="s2">/&gt; 
 
 
 
 
    &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
 
&lt;/</span><span class="s4">android.support.constraint.ConstraintLayout</span><span class="s2">&gt; 
</span></pre>
</body>
</html>