<html>
<head>
<title>activity_order.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #606366; font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(106,135,89); }
.s3 { color: rgb(169,183,198); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_order.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s2">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s2">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s3"> 
</span><span class="s0">&lt;android.support.constraint.ConstraintLayout </span><span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s1">xmlns:app=</span><span class="s2">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s0"> 
    </span><span class="s1">xmlns:tools=</span><span class="s2">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">tools:context=</span><span class="s2">&quot;com.example.vkpaul123.aahar_01.OrderActivity&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;LinearLayout 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/linearLayout3&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s2">&quot;8dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginEnd=</span><span class="s2">&quot;8dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s2">&quot;8dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;8dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintBottom_toBottomOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintEnd_toEndOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintStart_toStartOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintTop_toTopOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/textView7&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:drawableStart=</span><span class="s2">&quot;@drawable/ic_order&quot;</span><span class="s0"> 
            </span><span class="s1">android:background=</span><span class="s2">&quot;@color/colorPrimaryDark&quot;</span><span class="s0"> 
            </span><span class="s1">android:fontFamily=</span><span class="s2">&quot;monospace&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;Your Order&quot;</span><span class="s0"> 
            </span><span class="s1">android:textAppearance=</span><span class="s2">&quot;@style/TextAppearance.AppCompat.Display2&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;@android:color/background_light&quot;</span><span class="s0"> 
            </span><span class="s1">android:textStyle=</span><span class="s2">&quot;bold|italic&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/itemsAll&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;300dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;TextView&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;LinearLayout 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;90dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;TextView 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/textView9&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                </span><span class="s1">android:text=</span><span class="s2">&quot;Total&quot;</span><span class="s0"> 
                </span><span class="s1">android:textAllCaps=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
                </span><span class="s1">android:textAppearance=</span><span class="s2">&quot;@style/TextAppearance.AppCompat.Headline&quot;</span><span class="s0"> 
                </span><span class="s1">android:textStyle=</span><span class="s2">&quot;bold&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;TextView 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/totalPrice&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
                </span><span class="s1">android:text=</span><span class="s2">&quot;Rs. 00&quot;</span><span class="s0"> 
                </span><span class="s1">android:textAlignment=</span><span class="s2">&quot;textEnd&quot;</span><span class="s0"> 
                </span><span class="s1">android:textAppearance=</span><span class="s2">&quot;@style/TextAppearance.AppCompat.Headline&quot;</span><span class="s0"> 
                </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/colorNonVeg&quot;</span><span class="s0"> 
                </span><span class="s1">android:textStyle=</span><span class="s2">&quot;bold|italic&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;Button 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/confirm&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;Confirm&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
    </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
</span><span class="s0">&lt;/android.support.constraint.ConstraintLayout&gt;</span><span class="s3"> 
</span></pre>
</body>
</html>