<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_main.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">android.support.constraint.ConstraintLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;com.example.vkpaul123.myconference.MainActivity&quot;</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">ImageView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/imageView4&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:scaleType=</span><span class="s3">&quot;center&quot;</span><span class="s2"> 
        </span><span class="s1">app:srcCompat=</span><span class="s3">&quot;@drawable/confer&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">GridLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginEnd=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintBottom_toBottomOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintEnd_toEndOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintHorizontal_bias=</span><span class="s3">&quot;1.0&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintStart_toStartOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintTop_toTopOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintVertical_bias=</span><span class="s3">&quot;1.0&quot;</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">TextView</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;Register for Conference&quot;</span><span class="s2"> 
            </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s2"> 
            </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2"> 
            </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;@style/TextAppearance.AppCompat.Display1&quot;</span><span class="s2"> 
            </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">EditText</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/editText4&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_row=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
            </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
            </span><span class="s1">android:hint=</span><span class="s3">&quot;Name&quot;</span><span class="s2"> 
            </span><span class="s1">android:inputType=</span><span class="s3">&quot;textPersonName&quot;</span><span class="s2"> 
            </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">EditText</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/editText5&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_row=</span><span class="s3">&quot;2&quot;</span><span class="s2"> 
            </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
            </span><span class="s1">android:hint=</span><span class="s3">&quot;Phone Number&quot;</span><span class="s2"> 
            </span><span class="s1">android:inputType=</span><span class="s3">&quot;phone&quot;</span><span class="s2"> 
            </span><span class="s1">android:maxLength=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
            </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">EditText</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/editText6&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_row=</span><span class="s3">&quot;3&quot;</span><span class="s2"> 
            </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
            </span><span class="s1">android:hint=</span><span class="s3">&quot;E-Mail&quot;</span><span class="s2"> 
            </span><span class="s1">android:inputType=</span><span class="s3">&quot;textEmailAddress&quot;</span><span class="s2"> 
            </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">EditText</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/editText2&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_row=</span><span class="s3">&quot;4&quot;</span><span class="s2"> 
            </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
            </span><span class="s1">android:hint=</span><span class="s3">&quot;Password&quot;</span><span class="s2"> 
            </span><span class="s1">android:inputType=</span><span class="s3">&quot;textPassword&quot;</span><span class="s2"> 
            </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">EditText</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/editText7&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_row=</span><span class="s3">&quot;5&quot;</span><span class="s2"> 
            </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
            </span><span class="s1">android:hint=</span><span class="s3">&quot;Address&quot;</span><span class="s2"> 
            </span><span class="s1">android:inputType=</span><span class="s3">&quot;textPostalAddress&quot;</span><span class="s2"> 
            </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">EditText</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/editText8&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_row=</span><span class="s3">&quot;6&quot;</span><span class="s2"> 
            </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
            </span><span class="s1">android:hint=</span><span class="s3">&quot;Date of Birth&quot;</span><span class="s2"> 
            </span><span class="s1">android:inputType=</span><span class="s3">&quot;date&quot;</span><span class="s2"> 
            </span><span class="s1">android:maxLength=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
            </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">EditText</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/editText9&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_row=</span><span class="s3">&quot;7&quot;</span><span class="s2"> 
            </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
            </span><span class="s1">android:hint=</span><span class="s3">&quot;Suitable Time&quot;</span><span class="s2"> 
            </span><span class="s1">android:inputType=</span><span class="s3">&quot;time&quot;</span><span class="s2"> 
            </span><span class="s1">android:maxLength=</span><span class="s3">&quot;5&quot;</span><span class="s2"> 
            </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_row=</span><span class="s3">&quot;8&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2">&gt; 
 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView2&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;Age Group&quot;</span><span class="s2"> 
                </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;@style/TextAppearance.AppCompat.Large&quot;</span><span class="s2"> 
                </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">Spinner</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/ageGroup&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                </span><span class="s1">android:dropDownWidth=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:popupBackground=</span><span class="s3">&quot;@android:drawable/btn_star_big_on&quot;</span><span class="s2"> 
                </span><span class="s1">android:spinnerMode=</span><span class="s3">&quot;dialog&quot; </span><span class="s2">/&gt; 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_row=</span><span class="s3">&quot;9&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2">&gt; 
 
            &lt;</span><span class="s4">Switch</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/memberCheck&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;Are You a Member?&quot;</span><span class="s2"> 
                </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;@style/TextAppearance.AppCompat.Title&quot;</span><span class="s2"> 
                </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s2">/&gt; 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">Button</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button4&quot;</span><span class="s2"> 
            </span><span class="s1">style=</span><span class="s3">&quot;@style/Widget.AppCompat.Button.Colored&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_row=</span><span class="s3">&quot;12&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;Submit&quot;</span><span class="s2"> 
            </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s2"> 
            </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_row=</span><span class="s3">&quot;11&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2">&gt; 
 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">RadioGroup</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/genderGroup&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_row=</span><span class="s3">&quot;10&quot;</span><span class="s2">&gt; 
 
            &lt;</span><span class="s4">RadioButton</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/radioButton6&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;Male&quot;</span><span class="s2"> 
                </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;@style/TextAppearance.AppCompat.Large&quot;</span><span class="s2"> 
                </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">RadioButton</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/radioButton7&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;Female&quot;</span><span class="s2"> 
                </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;@style/TextAppearance.AppCompat.Large&quot;</span><span class="s2"> 
                </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s2">/&gt; 
        &lt;/</span><span class="s4">RadioGroup</span><span class="s2">&gt; 
 
    &lt;/</span><span class="s4">GridLayout</span><span class="s2">&gt; 
 
&lt;/</span><span class="s4">android.support.constraint.ConstraintLayout</span><span class="s2">&gt; 
</span></pre>
</body>
</html>