<html>
<head>
<title>activity_first.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_first.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">android.support.constraint.ConstraintLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;com.example.vkpaul123.fiveactivity.FirstActivity&quot;</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">ImageView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/imageView2&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:scaleType=</span><span class="s3">&quot;centerCrop&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintBottom_toBottomOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintEnd_toEndOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintTop_toTopOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:srcCompat=</span><span class="s3">&quot;@drawable/bgac&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">ImageView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/imageView&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitCenter&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintBottom_toBottomOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintEnd_toEndOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintStart_toStartOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintTop_toTopOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:srcCompat=</span><span class="s3">&quot;@drawable/logo&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">TextView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;460dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginEnd=</span><span class="s3">&quot;163dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s3">&quot;163dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;48dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;Welcome to SAAB&quot;</span><span class="s2"> 
        </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;@style/TextAppearance.AppCompat.Display2&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@android:color/holo_green_light&quot;</span><span class="s2"> 
        </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold|italic&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintBottom_toBottomOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintEnd_toEndOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintHorizontal_bias=</span><span class="s3">&quot;0.494&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintStart_toStartOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintTop_toTopOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintVertical_bias=</span><span class="s3">&quot;0.0&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button2&quot;</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;@style/Widget.AppCompat.Button.Colored&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;351dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;53dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginEnd=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;Continue&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintBottom_toBottomOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintEnd_toEndOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintStart_toStartOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintTop_toBottomOf=</span><span class="s3">&quot;@+id/imageView2&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintVertical_bias=</span><span class="s3">&quot;1.0&quot; </span><span class="s2">/&gt; 
&lt;/</span><span class="s4">android.support.constraint.ConstraintLayout</span><span class="s2">&gt; 
</span></pre>
</body>
</html>