<html>
<head>
<title>activity_fifth.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_fifth.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">android.support.constraint.ConstraintLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;com.example.vkpaul123.fiveactivity.FifthActivity&quot;</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">ImageView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/imageView4&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:scaleType=</span><span class="s3">&quot;centerCrop&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintBottom_toBottomOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintEnd_toEndOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintStart_toStartOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintTop_toTopOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:srcCompat=</span><span class="s3">&quot;@drawable/sky&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/linearLayout&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginEnd=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintBottom_toBottomOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintEnd_toEndOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintStart_toStartOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintTop_toTopOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">TextView</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView5&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;casual&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;Welcome&quot;</span><span class="s2"> 
            </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;@style/TextAppearance.AppCompat.Display1&quot;</span><span class="s2"> 
            </span><span class="s1">android:textColor=</span><span class="s3">&quot;@android:color/holo_red_dark&quot;</span><span class="s2"> 
            </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold|italic&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">TableLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2">&gt; 
 
            &lt;</span><span class="s4">TableRow</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2">&gt; 
 
                &lt;</span><span class="s4">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView11&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;Sr No&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;@style/TextAppearance.AppCompat.Large&quot; </span><span class="s2">/&gt; 
 
                &lt;</span><span class="s4">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView12&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;250dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;Name&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;@style/TextAppearance.AppCompat.Large&quot; </span><span class="s2">/&gt; 
 
                &lt;</span><span class="s4">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView13&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;Year&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;@style/TextAppearance.AppCompat.Large&quot; </span><span class="s2">/&gt; 
            &lt;/</span><span class="s4">TableRow</span><span class="s2">&gt; 
 
            &lt;</span><span class="s4">TableRow</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2">&gt; 
 
                &lt;</span><span class="s4">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView16&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;center&quot; </span><span class="s2">/&gt; 
 
                &lt;</span><span class="s4">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView15&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;JAS 39 Gripen&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;center&quot; </span><span class="s2">/&gt; 
 
                &lt;</span><span class="s4">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView14&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;2016&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;center&quot; </span><span class="s2">/&gt; 
            &lt;/</span><span class="s4">TableRow</span><span class="s2">&gt; 
 
            &lt;</span><span class="s4">TableRow</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2">&gt; 
 
                &lt;</span><span class="s4">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView17&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;2&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;center&quot; </span><span class="s2">/&gt; 
 
                &lt;</span><span class="s4">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView18&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;AJ 37 Viggen&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;center&quot; </span><span class="s2">/&gt; 
 
                &lt;</span><span class="s4">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView19&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;2010&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;center&quot; </span><span class="s2">/&gt; 
            &lt;/</span><span class="s4">TableRow</span><span class="s2">&gt; 
 
            &lt;</span><span class="s4">TableRow</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2">&gt; 
 
                &lt;</span><span class="s4">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView20&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;3&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;center&quot; </span><span class="s2">/&gt; 
 
                &lt;</span><span class="s4">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView21&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;J 35 Draken&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;center&quot; </span><span class="s2">/&gt; 
 
                &lt;</span><span class="s4">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView22&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;2007&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;center&quot; </span><span class="s2">/&gt; 
            &lt;/</span><span class="s4">TableRow</span><span class="s2">&gt; 
        &lt;/</span><span class="s4">TableLayout</span><span class="s2">&gt; 
    &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
&lt;/</span><span class="s4">android.support.constraint.ConstraintLayout</span><span class="s2">&gt; 
</span></pre>
</body>
</html>